.examples {
  width: 75vw;
  min-height: 500px;
  margin: 150px 0 0;
  padding: 20px;
  border-radius: 20px;
}

.examples h1 {
  text-align: center;
  font-size: 50px;
}

.exampleList {
  width: 100%;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.exampleList a {
  width: 500px;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example img {
  width: 100%;
  border-radius: 10px;
}

.description {
  height: 60px;
}

.anchor {
  position: relative;
  top: -200px;
  display: block;
  height: 0;
  width: 0;
}

@media (width <= 1050px) {
  .examples {
    width: 90vw;
    margin: 100px auto 0;
  }

  .exampleList a {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .description {
    height: 80px;
  }
}

@media (width <= 600px) {
  .exampleList a {
    width: 80vw;
  }
}
