.faqs {
  width: 1000px;
  margin: 100px 0 0;
  padding: 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordion {
  width: 95%;
}

.faqs h1 {
  text-align: center;
}

@media (max-width: 1050px) {
  .faqs {
    width: 90vw;
    margin: 100px auto 0;
  }
}
