.login {
    margin: 0 auto;
    width: 500px;
    min-height: 500px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form input {
    height: 40px;
    font-size: 20px;
    padding: 5px;
    margin: 10px 0px 20px 0px;
}

.login-form label {
    margin: 0;
}

.login-form-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.login-form-buttons button {
    width: 40%;
    margin: 10px;
    height: 40px;
    font-size: 25px;
}

.cancel-button {
    background-color: pink;
}

.submit-button {
    background-color: lightgreen;
}

.error-text {
    color: red;
    margin: -10px 0 15px 0;
}

.password-and-eye-icon {
    display: flex;
    position: relative;
}

.eye-icon {
    position: absolute;
    right: 25px;
    top: 22px;  
}

#password {
    width: 100%;
}

@media (max-width: 550px) {
    .login {
        width: 90vw;
    }
}