.login {
    margin: 0 auto;
    width: 500px;
    min-height: 500px;
}

.loginForm {
    display: flex;
    flex-direction: column;
}

.loginForm input {
    height: 40px;
    font-size: 20px;
    padding: 5px;
    margin: 10px 0px 20px 0px;
}

.loginForm label {
    margin: 0;
}

.loginFormButtons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.loginFormButtons button {
    width: 40%;
    margin: 10px;
    height: 40px;
    font-size: 25px;
}

.cancelButton {
    background-color: pink;
}

.submitButton {
    background-color: lightgreen;
}

.errorText {
    color: red;
    margin: -10px 0 15px 0;
}

.passwordAndEyeIcon {
    display: flex;
    position: relative;
}

.eyeIcon {
    position: absolute;
    right: 25px;
    top: 22px;  
}

.password {
    width: 100%;
}

@media (max-width: 550px) {
    .login {
        width: 90vw;
    }
}