.register {
    margin: 0 auto;
    width: 500px;
    min-height: 500px;
}

.register-form {
    display: flex;
    flex-direction: column;
}

.register-form input {
    height: 40px;
    font-size: 20px;
    padding: 5px;
    margin: 10px 0px 20px 0px;
}

.register-form label {
    margin: 0;
}

.register-form-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.register-form-buttons button {
    width: 40%;
    margin: 10px;
    height: 40px;
    font-size: 25px;
}

.cancel-button {
    background-color: pink;
}

.submit-button {
    background-color: lightgreen;
}

.error-text {
    color: red;
    margin: -10px 0 15px 0;
}

.password-and-tooltip {
    display: flex;
}

.question-mark-tooltip {
    margin-left: 5px;
    color: white;
    background-color: #222;
    width: 17px;
    height: 17px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

@media (max-width: 550px) {
    .register {
        width: 90vw;
    }
}