.verifyEmailContainer {
  width: 100vw;
  height: calc(100vh - 150px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100px;
}

.verifyEmail {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border-radius: 20px;
}

@media (width <= 550px) {
  .verifyEmail {
    width: 90vw;
  }
}
