.iconOption {
    color: black !important;
    margin: 5px 0;
}

.iconOptionIcon {
    top: 0;
    margin-left: 10px;
    float: right;
}

.linkEditLi {
    margin: 10px auto;
    display: flex;
    flex-flow: column;
    width: 300px;
    position: relative;
}

.deleteLink {
    position: absolute;
    top: 0;
    right: 0;
}