.feedbackContainer {
    width: 100vw;
    height: calc(100vh - 150px);
    display: flex;
    justify-content: center;
}

.feedback {
    width: 500px;
    min-height: 930px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 50px;
    margin-top: 200px;
}

.feedback:after {
    position: absolute;
    content: "";
    bottom: -150px;
    height: 500px;
    width: 1px;
}

.feedbackForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.textField, .commentField {
    width: 100%;
    font-size: 20px;
    padding: 5px;
    margin: 10px 0px 10px 0px !important;
    overflow: scroll;
}

.textField div {
    height: 50px;
}

.commentField div {
    height: 270px;
    display: flex;
    align-items: flex-start;
}

.typeSelect {
    margin-left: 20px;
}

.loginFormButtons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.loginFormButtons button {
    width: 40%;
    margin: 10px;
    height: 40px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancelButton {
    background-color: pink;
}

.submitButton {
    background-color: lightgreen;
}

@media(max-width: 550px) {
    .feedback {
        width: 90vw;
    }
}