.footer {
    position: fixed;
    width: 100vw;
    height: 50px;
    bottom: 0;
    left: 0;
    background-color: #BBBBBB;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
}

.footer div {
    margin: 0 20px;
}