.footer {
  position: fixed;
  width: 100vw;
  height: 50px;
  bottom: 0;
  left: 0;
  background-color: #bbb;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
}

.footer div {
  margin: 0 20px;
}

@keyframes pulseColor {
  0% {
    background-color: plum;
  }

  50% {
    background-color: lightblue;
  }

  100% {
    background-color: plum;
  }
}

.feedback {
  position: absolute;
  left: -20px;
  bottom: 50px;
  height: 50px;
  width: 100vw;
  color: black;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: pulseColor;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.feedback button {
  margin: 0;
}

@media (width <= 750px) {
  .feedback {
    display: none;
  }
}

@media (width <= 600px) {
  .footer {
    height: 75px;
    flex-direction: column;
  }

  .footer div:nth-child(2) {
    margin-top: 10px;
  }
}
