.gradientPicker {
    width: 70%;
    height: 400px;
    background-color: midnightblue;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    margin: 10px 0;
}

.row:nth-child(1) {
    margin-top: 30px;
}

.useGradient {
    width: 16px;
}

.colorBoxes {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
    flex-wrap: wrap;
}

.previewBox {
    width: 100%;
    height: 30px;
    margin: 10px 0;
}

.angleInput {
    width: 70px;
}

.closeButton {
    transform: rotate(45deg);
    cursor: default;
    position: absolute;
    top: -5px;
    right: 5px;
    font-size: 36px;
}

.presetSelect {
    margin-left: 20px;
}

.hexInput {
    margin: 20px;
}