.header {
    height: 150px;
    width: 100vw;
    background-color: lightblue;
    position: relative;
    top: -25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 10;
}

.icon-row {
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: row;
    width: 100px;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
}

.account-icon {
    position: relative;
}

.theme-icon {
    position: relative;
    right: 10px;
}

.account-menu {
    position: absolute;
    right: 103px;
    top: 105px;
    background-color: lightgreen;
    border: 1px solid #222;
    width: 200px;
}

.account-menu-list {
    list-style: none;
    padding: 0 10px;
}

a, a:hover, a:active, a:visited, a:link {
    text-decoration: none;
    color: black;
}

.attach-triangle {
    background-color: lightgreen;
    border-left: 1px solid #222;
    border-top: 1px solid #222;
    width: 10px;
    height: 10px;
    position: absolute;
    top: -6px;
    right: 11px;
    transform: rotate(45deg);
}

.logo-and-title a {
    margin-top: 20px;
    display: flex;
    align-items: center;
}