.singleSiteWrapper {
  width: 100vw;
  min-height: calc(100vh - 120px);
  margin-top: 120px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
  position: relative;
}

.singleSiteContainer {
  position: fixed;
  right: 150px;
  width: 350px;
  height: 700px;
  transform-origin: top;
  border-radius: 30px;
  display: inline-flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.singleSiteContainer::after {
  position: absolute;
  content: "";
  bottom: -100px;
  height: 100px;
  width: 1px;
}

.singleSiteContents {
  display: inline-flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  overflow: scroll;
  padding-top: 70px;
  min-height: 100%;
}

.tabSection {
  width: 50%;
  min-height: calc(100vh - 100px);
  background-color: #444;
  overflow: scroll;
  z-index: 11;
}

.singleTitle,
.singleSubtitle {
  text-align: center;
}

.singleTitle {
  margin: 20px 0 5px;
}

.singleSubtitle {
  margin: 10px 0;
}

.headerImage {
  border-radius: 100%;
}

.headerEmoji {
  font-size: 175px;
  line-height: 160px;
}

input {
  height: 30px;
  width: 70%;
}

.linksList {
  list-style: none;
  padding: 0;
}

.iPhone {
  z-index: 11;
  position: absolute;
  top: -10px;
  width: 500px;
  pointer-events: none;
}

.individualLink {
  width: 290px;
  background-color: white;
  height: 50px;
  margin: 10px auto;
  padding: 15px 30px;
  border-radius: 30px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.editButton,
.saveAndCancelButtons {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.editButton {
  top: 10px;
}

.editImage {
  margin-bottom: 10px;
}

.imageInput input {
  display: flex;
  margin: 0 auto;
}

.saveAndCancelButtons {
  top: 160px;
  display: flex;
  flex-flow: row;
  width: 100px;
  justify-content: space-between;
}

.linkText {
  font-weight: bold;
  margin-right: 10px;
}

.linkTextAndLiveStatus {
  display: flex;
}

.editTray {
  position: fixed;
  top: 0;
  left: -400px;
  width: 400px;
  height: 100%;
  background-color: slateblue;
  padding: 50px 20px;
  overflow: scroll;
  z-index: 11;
  padding-top: 230px;
}

.generalButton,
.deleteSiteButton {
  width: 50%;
  height: 50px;
  margin-top: 25px;
  border-radius: 5px;
  font-size: 1rem;
  background-color: lightblue;
}

.deleteSiteButton {
  background-color: lightcoral;
  margin-bottom: 20px;
}

.editContents {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.backArrow {
  position: absolute;
  top: 160px;
  left: 10px;
}

.closeButton {
  transform: rotate(45deg);
  cursor: default;
  font-size: 50px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.linkEditList {
  list-style: none;
  padding: 0;
}

.pexelsModal {
  width: 1000px;
  height: 800px;
  z-index: 16;
  border: 1px solid black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: #444;
  color: white;
  text-align: center;
  display: flex;
  flex-flow: column;
  padding: 100px;
  overflow: scroll;
}

.deleteSiteModal {
  z-index: 16;
  width: 500px;
  height: 400px;
  border: 1px solid black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: #444;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.blocker {
  width: 100vw;
  height: 100vh;
  background-color: rgb(0 0 0 / 75%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
}

.deleteSiteButtons {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.deleteSiteButtons button {
  width: 40%;
  margin: 10px;
  height: 40px;
  font-size: 25px;
}

.cancelButton {
  background-color: lightgreen;
}

.deleteButton {
  background-color: red;
  color: white;
}

.photos {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  margin: 0 auto;
}

.pexelsSearch {
  margin: 10px;
}

.titleAndClear {
  display: flex;
  align-items: center;
}

.clearImage {
  margin-left: 10px;
}

.selectedEmoji {
  font-size: 50px;
}

.headerWarning {
  margin-bottom: 20px;
}

.domainToAdd {
  width: 75%;
  height: 40px;
  font-size: 25px;
}

.domainList {
  list-style: none;
  padding: 5px;
}

.domainListDomain {
  margin: 15px 0;
}

.hexInput {
  width: 50%;
  margin: 10px;
}

.textField {
  width: 50%;
  font-size: 20px;
  padding: 5px;
  margin: 10px 0 !important;
}

.textField div {
  height: 50px;
}

.siteAndPath {
  display: flex;
  align-items: center;
}

.suggestion {
  margin: 10px 20px;
  cursor: pointer;
}

.loadingContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ldsCircle {
  display: inline-block;
  transform: translateZ(1px);
}

.ldsCircle > div {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  background: #cef;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes lds-circle {
  0% {
    transform: rotateY(0deg);
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }

  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }

  100% {
    transform: rotateY(3600deg);
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
}

/* @media (width <= 1500px) {
  .singleSiteContainer {
    transform: scale(0.8);
  }
} */

@media (width <= 1050px) {
  .pexelsModal {
    width: 90vw;
    padding: 70px 20px;
  }
}

@media (width <= 900px) {
  .singleSiteWrapper {
    /* display: block;
    justify-content: flex-end; */
  }
}

@media (width <= 500px) {
  .editTray {
    width: 100vw;
  }
}
