.singleSiteWrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: absolute;
}

.singleSiteContainer {
    width: 800px;
    margin: 0 auto 50px auto;
    background-color: lightblue;
    padding: 50px;
    border-radius: 10px;
    display: inline-flex;
    flex-flow: column;
    align-items: center;
    position: relative;
    z-index: 10;
}

.singleTitle, .singleSubtitle {
    text-align: center;
}

.singleTitle {
    margin: 20px 0 5px 0;
}

.singleSubtitle {
    margin: 10px 0;
}

.headerImage {
    border-radius: 100%;
}

.headerEmoji {
    font-size: 175px;
    line-height: 160px;
}

input {
    height: 30px;
    width: 70%;
}

.linksList {
    list-style: none;
    padding: 0;
}

.individualLink {
    width: 600px;
    background-color: white;
    height: 50px;
    margin: 10px auto;
    padding: 15px 30px;
    border-radius: 30px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.editButton, .saveAndCancelButtons {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.editButton {
    top: 10px;
    mix-blend-mode: difference;
}

.editImage {
    margin-bottom: 10px;
}

.imageInput input {
    display: flex;
    margin: 0 auto;
}

.saveAndCancelButtons {
    top: 160px;
    display: flex;
    flex-flow: row;
    width: 100px;
    justify-content: space-between;
}

.linkText {
    font-weight: bold;
    margin-right: 10px;
}

.linkTextAndLiveStatus {
    display: flex;
}

.editTray {
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    background-color: slateblue;
    padding: 50px 20px;
    overflow: scroll;
    z-index: 2;
    padding-top: 230px;
}

.generalButton, .deleteSiteButton {
    width: 70%;
    height: 50px;
    margin-top: 25px;
    border-radius: 5px;
    font-size: 1rem;
    background-color: lightblue;
}

.deleteSiteButton {
    background-color: lightcoral;
}

.editContents {
    display: flex;
    flex-flow: column;
    align-items: center; 
}

.backArrow {
    position: absolute;
    top: 160px;
    left: 10px;
}

.linkEditList {
    list-style: none;
    padding: 0;
}

.pexelsModal {
    width: 1000px;
    height: 800px;
    z-index: 10;
    border: 1px solid black;
    position: fixed;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: dodgerblue;
    color: white;
    text-align: center;
    display: flex;
    flex-flow: column;
    padding: 100px;
    overflow: scroll;
}

.deleteSiteModal {
    z-index: 10;
    width: 500px;
    height: 400px;
    border: 1px solid black;
    position: fixed;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: dodgerblue;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.blocker {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.75);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

.closeButton {
    transform: rotate(45deg);
    cursor: default;
    font-size: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.deleteSiteButtons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.deleteSiteButtons button {
    width: 40%;
    margin: 10px;
    height: 40px;
    font-size: 25px;
}

.cancelButton {
    background-color: lightgreen;
}

.deleteButton {
    background-color: red;
    color: white;
}

.photos {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    margin: 0 auto;
}

.pexelsSearch {
    margin: 10px;
}

.titleAndClear {
    display: flex;
    align-items: center;
}

.clearImage {
    margin-left: 10px;
}

.selectedEmoji {
    font-size: 50px;
}

.headerWarning {
    margin-bottom: 20px;
}

.screenshotArea {
    width: 800px;
    height: 600px;
    position: absolute;
    top: 200px;
}

.domainToAdd {
    width: 75%;
    height: 40px;
    font-size: 25px;
}

.domainList {
    list-style: none;
}

.hexInput {
    width:  50%;
    margin: 10px;
}

@media (max-width: 900px) {
    .singleSiteWrapper {
        display: block;
        justify-content: flex-end;
    }

    .singleSiteContainer {
        width: 90vw;
        margin-left: 5vw;
    }

    .individualLink {
        width: 80vw;
    }
}

@media (max-width: 500px) {
    .editTray {
        width: 100vw;
    }
}