.single-site-container {
    width: 800px;
    margin: 50px auto;
    background-color: lightblue;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
}

.single-title, .single-subtitle {
    text-align: center;
}

.header-image {
    border-radius: 100%;
}

.links-list {
    list-style: none;
    padding: 0;
}

.individual-link {
    min-width: 600px;
    background-color: white;
    height: 50px;
    margin: 10px auto;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

.edit-button, .save-and-cancel-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
}

.save-and-cancel-buttons {
    display: flex;
    flex-flow: row;
    width: 100px;
    justify-content: space-between;
}

.link-text {
    font-weight: bold;
}

.edit-tray {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    background-color: slateblue;
    padding: 50px 20px;
    overflow: scroll;
}

.edit-contents {
    display: flex;
    flex-flow: column;
    align-items: center; 
}

.icon-option-icon {
    margin-left: 10px;
    float: right;
}

.back-arrow {
    position: absolute;
    top: 10px;
    left: 10px;
}

.link-edit-list {
    list-style: none;
}

.link-edit-li {
    margin: 10px auto;
}

.pexels-modal {
    width: 1000px;
    height: 800px;
    z-index: 1;
    border: 1px solid black;
    position: fixed;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: dodgerblue;
    color: white;
    text-align: center;
    display: flex;
    flex-flow: column;
    padding: 100px;
    overflow: scroll;
}

.photos {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    margin: 0 auto;
}

.pexels-search {
    margin: 10px;
}