body {
    background-position: center;
}

.sitesContainer {
    width: 100vw;
    padding-top: 100px;
    height: calc(100vh - 150px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    left: 0;
    position: absolute;
}

.sitesList {
    width: 95vw;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    padding-top: 50px;
    justify-content: flex-start;
    align-items: flex-start;
}

.siteBox {
    list-style: none;
    width: 400px;
    height: 380px;
    border: 1px solid black;
    border-radius: 3px;
    margin: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.title, .subtitle {
    margin: 10px;
}

.siteLink {
    width: 400px;
    text-decoration: none;
    color: black;
    margin: 0 10px;
}

.emptySites {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 100px auto 0 auto;
    position: relative;
    border-radius: 20px;
}

.titleAndCreate {
    display: flex;
    align-items: center;
}

.justTitle, .titleAndCreate h1 {
    margin: 5px;
}

.emptySitesContainer {
    width: 100vw;
    height: calc(100vh - 150px);
    display: flex;
    align-items: flex-start;
}

.siteScreenshot {
    border-radius: 5px;
}

@media (max-width: 500px) {
    .sitesList {
        width: 90vw;
        padding: 20px 0 0 0;
        margin-left: -35px;
    }
}