body {
  background-position: center;
}

.sitesContainer {
  width: 100vw;
  padding-top: 100px;
  height: calc(100vh - 150px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  left: 0;
  top: 50px;
  position: absolute;
}

.sitesList {
  width: 95vw;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  padding-top: 50px;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.sitesList::after {
  position: absolute;
  content: "";
  bottom: -150px;
  height: 500px;
  width: 1px;
}

.siteBox {
  list-style: none;
  width: 400px;
  height: 380px;
  border: 1px solid black;
  border-radius: 3px;
  margin: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.title,
.subtitle {
  margin: 10px;
  font-weight: bold;
}

.siteLink {
  width: 400px;
  text-decoration: none;
  color: black;
  margin: 0 10px;
}

.emptySites {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 100px auto 0;
  position: relative;
  border-radius: 20px;
}

.titleAndCreate {
  display: flex;
  align-items: center;
}

.justTitle,
.titleAndCreate h1 {
  margin: 5px;
}

.emptySitesContainer {
  width: 100vw;
  height: calc(100vh - 150px);
  display: flex;
  align-items: flex-start;
}

.loadingContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh - 150px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.siteScreenshot {
  border-radius: 5px;
}

.ldsCircle {
  display: inline-block;
  transform: translateZ(1px);
}

.ldsCircle > div {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  background: #cef;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes lds-circle {
  0% {
    transform: rotateY(0deg);
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }

  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }

  100% {
    transform: rotateY(3600deg);
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
}

@media (width <= 550px) {
  .sitesList {
    width: 90vw;
    padding: 20px 0 0;
  }
}

@media (width <= 500px) {
  .sitesList {
    margin-left: -50px;
  }
}

@media (width <= 450px) {
  .sitesList {
    margin-left: -60px;
  }
}
