body {
    background-position: center;
}

.sites-container {
    width: 100vw;
    height: calc(100vh - 150px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    top: 150px;
    left: 0;
    position: absolute;
}

.sites-list {
    width: 90vw;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-right: 160px;
    justify-content: flex-start;
    align-items: flex-start;
}

.site-box {
    list-style: none;
    width: 400px;
    height: 380px;
    border: 1px solid black;
    border-radius: 3px;
    margin: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.title, .subtitle {
    margin: 10px;
}

.site-link {
    width: 400px;
    text-decoration: none;
    color: black;
    margin: 0 10px;
}

@media (max-width: 500px) {
    .sites-list {
        width: 450px;
        margin: 0 auto;
    }
}

.empty-sites {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    text-align: center;
    margin: auto;
    position: relative;
    border-radius: 15px;
}

.title-and-create {
    display: flex;
    align-items: center;
}

.just-title, .title-and-create h1 {
    margin: 5px;
}

.empty-sites-container {
    width: 100vw;
    height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-site-clone {
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: default;
    position: relative;
    padding-bottom: 5px;
    margin-left: 10px;
    font-weight: normal;
}

.site-screenshot {
    border-radius: 5px;
}